@page "/meetings"
@using NotesDataAccess.Models
@inject HttpClient client;

<PageTitle>Home</PageTitle>

<h1>Current Meetings!</h1>
<div>
    <MudButton Href="/newmeeting" Variant="Variant.Filled" Color="Color.Primary">Create New Meeting</MudButton>
</div>
<br/>

@if(meetings != null)
{
    foreach(var meeting in meetings)
    {
        <MudCard Outlined="true">
            <MudCardContent>
                <MudText>@meeting.MeetingName</MudText>
                    <MudText Typo="Typo.body2">@meeting.Description</MudText>
            </MudCardContent>
            <MudCardActions>
                    <MudButton Href="/meetingdetails/1" Variant="Variant.Text" Color="Color.Primary">See Details</MudButton>
            </MudCardActions>
        </MudCard>
    }
}
else
{
    <p>Currently no meetings.</p>
}

@code {
    public List<MeetingModel> meetings = new List<MeetingModel>();


    protected override async Task OnInitializedAsync()
    {
        meetings = await client.GetFromJsonAsync<List<MeetingModel>>("https://localhost:7065/api/meeting");
    }

}
